@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: KaTeX_main;
  padding: 5vw;
}

pre, code {
  font-family: KaTeX_typewriter;
  font-size: 14px;
}
textarea {
  width: 100%;
}

pre {
  padding: 1rem;
  border-radius: 0.5em;
  overflow-x: scroll;
  background-color: rgb(42, 50, 57);
  color: white;
}

.hljs-comment {
  color: rgb(136, 136, 136);
}
.hljs-keyword {
  color: rgb(255, 123, 123);
}
.hljs-attr, .hljs-property {
  color: rgb(210, 149, 210);
}
.hljs-variable {
  color: rgb(255, 221, 0);
}
.hljs-built_in {
  color: rgb(109, 197, 200);
}


p {
  margin: 3vh 0;
}
h1+p,
h2+p,
h3+p,
h4+p,
h5+p,
h6+p {
  margin-top: 0;
}

h1 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-size: large;
}

table, th, td {
  border: solid thin lightgrey;
  margin: auto;
}
table td {
  padding: 5px;
}

h2, h3, h4, h5, h6 {
  text-decoration: underline;
  margin-top: 4vh;
}

a {
  text-decoration: underline;
}

blockquote {
  padding: 0 0 0 0.5em;
  width: 80%;
  border-left: solid 2px rgb(188, 188, 188);
  margin: auto;
}

figcaption {
  font-style: italic;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  color: rgb(175, 175, 175);
}

figcaption p {
  margin: 5px 0;
}